http:
  routers:
    nexus:
      rule: "Host(`nexus.cluster.com`) && PathPrefix(`/repository`)"
      service: nexus@docker
      middlewares:
        - raw-proxy
        - apt-proxy
        - yum-proxy
    registry:
      rule: "Host(`registry.cluster.com`)"
      service: nexus@docker
      middlewares:
        - registry-hosted
    registry-proxy:
      rule: "Host(`registry-proxy.cluster.com`)"
      service: nexus@docker
      middlewares:
        - registry-proxy-group

  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true
    raw-proxy:
      replacePathRegex:
        regex: "^/repository/raw-proxy/(.*)/"
        replacement: "/repository/raw-proxy-${1}/"
    apt-proxy:
      replacePathRegex:
        regex: "^/repository/apt-proxy/(.*)/"
        replacement: "/repository/apt-proxy-${1}/"
    yum-proxy:
      replacePathRegex:
        regex: "^/repository/yum-proxy/(.*)/"
        replacement: "/repository/yum-proxy-$1/"
    registry-hosted:
      replacePathRegex:
        regex: "^/"
        replacement: "/repository/docker-hosted/"
    registry-proxy-group:
      replacePathRegex:
        regex: "^/"
        replacement: "/repository/docker-proxy-group/"
