version: "3.9"

x-traefik-label: &traefik-label
  traefik.enable: true
  traefik.http.routers.{{ param_role_name }}.service: {{ param_role_name }}
  traefik.http.services.{{ param_role_name }}.loadbalancer.server.port: 8080

services:

  ndisk:
    image: {{ param_registry_url }}/library/ndisk:latest
    pull_policy: always
    container_name: ndisk
    labels:
      <<: *traefik-label
    expose:
      - "8080"
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/conf/app.yaml:/app/app.yaml
      - {{ param_docker_data }}/{{ param_role_name }}/data/:/data/
    environment:
      CONFIG_FILE: /app/app.yaml
    restart: always