---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .Release.Name }}
  namespace: '{{ .Release.Namespace }}'
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      volumes:
      - name: host
        hostPath:
          path: /
      containers:
      - name: {{ .Release.Name }}
        image: quay.io/prometheus/node-exporter
        args:
        - --web.listen-address=0.0.0.0:9200
        ports:
        - containerPort: 9200
          hostPort: 9200
        volumeMounts:
        - name: host
          mountPath: /host
          readOnly: true
      hostNetwork: true
      hostPID: true
