version: "3.9"

services:

  nginx:
    image: nginx:1.23.3-alpine
    container_name: nginx
    privileged: true
    user: root
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/conf/nginx.conf:/etc/nginx/nginx.conf
      - {{ param_docker_data }}/{{ param_role_name }}/conf/conf.d/:/etc/nginx/conf.d/
      - {{ param_docker_data }}/{{ param_role_name }}/conf/cert/:/etc/nginx/cert/
    restart: always