---
apiVersion: v1
kind: Service
metadata:
  name: hbase-region
  namespace: '{{ .Release.Namespace }}'
spec:
  selector:
    app: hbase-region
  ports:
  - name: rpc
    port: 16020
  - name: http
    port: 16030
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: hbase-region
  namespace: '{{ .Release.Namespace }}'
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hbase-region
  serviceName: hbase-region
  template:
    metadata:
      labels:
        app: hbase-region
    spec:
      volumes:
      - name: hbase-env
        configMap:
          name: hbase
          items:
          - key: hbase-env.sh
            path: hbase-env.sh
      - name: hbase-site
        configMap:
          name: hbase
          items:
          - key: hbase-site.xml
            path: hbase-site.xml
      containers:
      - name: hbase-region
        image: {{ .Values.param_registry_url }}/{{ .Values.param_registry_dir }}/hbase
        imagePullPolicy: Always
        ports:
        - containerPort: 16020
        - containerPort: 16030
        volumeMounts:
        - name: hbase-env
          mountPath: /opt/hbase/conf/hbase-env.sh
          subPath: hbase-env.sh
        - name: hbase-site
          mountPath: /opt/hbase/conf/hbase-site.xml
          subPath: hbase-site.xml
        - name: data
          mountPath: /opt/hbase/logs/
          subPath: hbase/logs
        env:
        - name: HBASE_NODE_TYPE
          value: region
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 256Gi
      storageClassName: managed-nfs-storage
