---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/revision: "{{ .Release.Revision }}"
  labels:
    app: {{ .Values.param_app_name | default .Release.Name }}
    version: {{ .Values.param_app_version | default .Values.param_release_version }}
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: {{ .Values.param_app_name | default .Release.Name }}
      version: {{ .Values.param_app_version | default .Values.param_release_version }}
  template:
    metadata:
      annotations:
        helm.sh/revision: "{{ .Release.Revision }}"
      labels:
        app: {{ .Values.param_app_name | default .Release.Name }}
        version: {{ .Values.param_app_version | default .Values.param_release_version }}
    spec:
      containers:
      - name: {{ .Values.param_app_name | default .Release.Name }}
        image: "{{ .Values.param_registry_repo }}/{{ .Values.param_registry_dir }}/{{ .Values.param_image_name | default .Values.param_release_name }}:{{ .Values.param_image_version | default .Values.param_release_version }}"
        imagePullPolicy: Always
        ports:
          - name: http
            containerPort: 80
          - name: https
            containerPort: 443
        env:
          - name: TZ
            value: Asia/Shanghai
