version: "3.9"

x-pulsar-common: &pulsar-common
  image: apachepulsar/pulsar:2.9.2
  privileged: true
  user: root


x-traefik-pulsar-proxy-label: &traefik-pulsar-proxy-label
  traefik.enable: true
  traefik.http.routers.{{ param_role_name }}-proxy.rule: Host(`pulsar-proxy.czy21.com`)
  traefik.http.routers.{{ param_role_name }}-proxy.service: {{ param_role_name }}-proxy
  traefik.http.services.{{ param_role_name }}-proxy.loadbalancer.server.port: 8080

services:
  {% for i in range(1,param_mq_pulsar_cluster_bookie_replicas | int + 1) %}
  pulsar-bookie{{ i }}:
    <<: *pulsar-common
    container_name: pulsar-bookie{{ i }}
    hostname: pulsar-bookie{{ i }}
    expose:
      - "3181"
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/conf/bookie.conf:/pulsar/conf/bookkeeper.conf
      - {{ param_docker_data }}/{{ param_role_name }}/data/bookie/{{ i }}/:/pulsar/data/bookie/
      - {{ param_docker_data }}/{{ param_role_name }}/log/bookie/{{ i }}/:/pulsar/logs/
    command: bin/pulsar bookie
    environment:
      PULSAR_MEM: "-Xms128m -Xmx256m -XX:MaxDirectMemorySize=256m"
  {% endfor %}
  {% for i in range(1,param_mq_pulsar_cluster_broker_replicas | int + 1) %}
  pulsar-broker{{ i }}:
    <<: *pulsar-common
    container_name: pulsar-broker{{ i }}
    hostname: pulsar-broker{{ i }}
    expose:
      - "8080"
      - "6650"
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/conf/broker.conf:/pulsar/conf/broker.conf
      - {{ param_docker_data }}/{{ param_role_name }}/log/broker/{{ i }}/:/pulsar/logs/
    command: bin/pulsar broker
    environment:
      PULSAR_MEM: "-Xms128m -Xmx256m -XX:MaxDirectMemorySize=256m"
  {% endfor %}

  pulsar-proxy:
    <<: *pulsar-common
    container_name: pulsar-proxy
    hostname: pulsar-proxy
    labels:
      <<: *traefik-pulsar-proxy-label
    expose:
      - "8080"
      - "6650"
    ports:
      - "6650:6650"
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/conf/proxy.conf:/pulsar/conf/proxy.conf
      - {{ param_docker_data }}/{{ param_role_name }}/log/proxy/:/pulsar/logs/
    command: bin/pulsar proxy
    environment:
      PULSAR_MEM: "-Xms64m -Xmx64m -XX:MaxDirectMemorySize=64m"