.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.log

# Idea #
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Script #
__pycache__/

# Build #
___temp/
___pubs/

# jenkins
jenkins/lib/

# ssl
*.crt
*.key
*.pem

# doc
doc/public/container
mkdocs.yaml