version: "3.9"

x-traefik-label: &traefik-label
  traefik.enable: true
  traefik.http.routers.{{ param_role_name }}.service: {{ param_role_name }}
  traefik.http.services.{{ param_role_name }}.loadbalancer.server.port: 80

services:

  heimdall:
    image: linuxserver/heimdall:2.7.6
    container_name: heimdall
    hostname: heimdall
    labels:
      <<: *traefik-label
    privileged: true
    user: root
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/data/config/:/config/
    environment:
      PUID: {{ param_user_ops_uid }}
      PGID: {{ param_user_ops_gid }}
      TZ: Asia/Shanghai
      DB_CONNECTION: mysql
      DB_HOST: "{{ param_db_mysql_host }}"
      DB_PORT: "{{ param_db_mysql_port }}"
      DB_DATABASE: heimdall
      DB_USERNAME: "{{ param_db_mysql_username }}"
      DB_PASSWORD: "{{ param_db_mysql_password }}"
    restart: always