---
apiVersion: v1
kind: Service
metadata:
  name: '{{ .Release.Name }}'
  namespace: '{{ .Release.Namespace }}'
spec:
  selector:
    app: '{{ .Release.Name }}'
  type: NodePort
  ports:
  - name: '5432'
    port: 5432
    targetPort: 5432
    nodePort: 5432