version: "3.9"

x-traefik-label: &traefik-label
  traefik.enable: true
  traefik.http.routers.{{ param_role_name }}.rule: Host(`scm.czy21.com`)
  traefik.http.routers.{{ param_role_name }}.service: {{ param_role_name }}
  traefik.http.services.{{ param_role_name }}.loadbalancer.server.port: 8080

services:
  scm-manager:
    image: scmmanager/scm-manager:2.37.0-debian
    container_name: scm-manager
    labels:
      <<: *traefik-label
    privileged: true
    expose:
      - "8080"
      - "22"
    user: root
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/data/:/var/lib/scm/
    environment:
      JAVA_OPTS: "-Dscm.initialUser={{ param_manage_username }} -Dscm.initialPassword={{ param_manage_password }}"


