---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: '{{ .Release.Namespace }}'
spec:
  selector:
    app: {{ .Release.Name }}
  ports:
  - name: 'nexus'
    port: 8081
    targetPort: 8081
  - name: 'registry-hosted'
    port: 5000
    targetPort: 5000
  - name: 'registry-proxy'
    port: 5005
    targetPort: 5005