- name: install
  win_shell: |
    Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))
    choco install git nssm -y
  tags:
    - "os"

- name: global path environment append
  ansible.windows.win_path:
    elements:
      - 'C:\Program Files\Git\bin'
  tags:
    - "os"

- win_copy: src={{ param_source_home }}/win-app dest={{ param_remote_path }}/
  tags:
    - "win-app"

- ansible.windows.win_find:
    paths: 
      - "{{ param_remote_path }}/win-app"
    patterns: 
      - "*.exe"
    recurse: yes
    file_type: file
  register: install_files
  tags:
    - "win-app"

- ansible.windows.win_package:
    path: "{{ item.path }}"
    arguments: /S /quiet /norestart
    state: present
  loop: "{{ install_files.files }}"
  when: install_files.files | length > 0
  tags:
    - "win-app"

- name: java
  import_tasks: sdk-java.yml
  tags:
    - "sdk-java"    

- name: dotnet
  win_chocolatey:
    name: dotnet-sdk
    version: '9.0.306'
    state: reinstalled
  tags:
    - "sdk-dotnet"