- name: install
  win_shell: |
    Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))
    choco install git nssm -y
  tags:
    - "os"

- name: global path environment append
  ansible.windows.win_path:
    elements:
      - 'C:\Program Files\Git\bin'
  tags:
    - "os"

- win_copy: src=/home/opsor/win-app dest={{ param_remote_path }}/
  tags:
    - "win-app"

- ansible.windows.win_find:
    paths: 
      - "{{ param_remote_path }}/win-app"
    patterns: 
      - "*.exe"
    recurse: yes
    file_type: file
  register: install_files
  tags:
    - "win-app"

- ansible.windows.win_package:
    path: "{{ item.path }}"
    arguments: /S /quiet /norestart
    state: present
  loop: "{{ install_files.files }}"
  when: install_files.files | length > 0
  tags:
    - "win-app"

- win_copy: src=/home/opsor/{{ param_jdk_from }} dest={{ param_remote_path }}/
  tags:
    - "sdk-java"

- win_shell: bash {{ param_remote_role_path }}/sdk-java.sh
  tags:
    - "sdk-java"

- name: Set JAVA_HOME
  ansible.windows.win_powershell:
    script: |
      $java_home="{{ (param_jdk_root[0] | upper) + param_jdk_root[1:] + '/' + param_jdk_home }}"
      $java_home=$java_home -replace '/', '\'
      [Environment]::SetEnvironmentVariable("JAVA_HOME", "$java_home", "Machine")
  tags:
    - "sdk-java"

- name: global path environment append JAVA_HOME
  ansible.windows.win_path:
    elements:
      - "%JAVA_HOME%\\bin"
  tags:
    - "sdk-java"