---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
data:
  init.gradle: |
    settingsEvaluated { settings ->
        settings.pluginManagement {
            resolutionStrategy {
            }
            repositories {
                gradlePluginPortal()
                maven {
                    name "home"
                    url "http://nexus.czy21-internal.com/repository/maven-public/"
                    credentials {
                        username "admin"
                        password "***REMOVED***"
                    }
                    allowInsecureProtocol = true
                }
            }
        }
    }
    allprojects {
        apply plugin: 'maven-publish'
        publishing {
            repositories {
                maven {
                    name "home"
                    url "http://nexus.czy21-internal.com/repository/maven-releases/"
                    credentials {
                        username "admin"
                        password "***REMOVED***"
                    }
                    allowInsecureProtocol = true
                }
            }
        }
        repositories {
            maven {
                name "home"
                url "http://nexus.czy21-internal.com/repository/maven-public/"
                credentials {
                    username "admin"
                    password "***REMOVED***"
                }
                allowInsecureProtocol = true
            }
        }
    }