---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: '{{ .Release.Namespace }}'
  labels:
    app: {{ .Release.Name }}
spec:
  selector:
    app: {{ .Release.Name }}
  type: NodePort
  ports:
  - name: '8080'
    port: 8080
    targetPort: 8080
  - name: '50000'
    port: 50000
    targetPort: 50000
    nodePort: 50000