---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: demo
  namespace: {{ .Release.Namespace }}
spec:
  hosts:
    - "demo-{{ .Values.param_cluster_name }}.cluster.com"
  gateways:
    - ops/gateway
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: demo-operation-react
        port:
          number: 80
        subset: v1
      weight: 60
    - destination:
        host: demo-operation-react
        port:
          number: 80
        subset: v2
      weight: 40