
# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  name: Home
  latitude: 31.23
  longitude: 121.47
  time_zone: Asia/Shanghai

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 0.0.0.0/0

recorder:
  db_url: postgresql://{{ param_db_pgsql_username }}:{{ param_db_pgsql_password }}@{{ param_db_pgsql_host }}:{{ param_db_pgsql_port }}/homeassistant
  purge_keep_days: 180

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml