- name: kubeadm init
  become: yes
  shell: |
    sudo kubeadm init --config {{ param_remote_role_path }}/k8s-config.yml
    sudo -i eval 'if [ -z ${KUBECONFIG} ];then echo 'export KUBECONFIG=/etc/kubernetes/admin.conf' >> ~/.bashrc; fi;'

- name: non-root user init .kube
  become: yes
  shell: |
    sudo -u {{ param_user_ops }} bash -c "set -e;cd;mkdir -p .kube && sudo cp --force /etc/kubernetes/admin.conf .kube/config && sudo chown {{ param_user_ops }}:{{ param_user_ops }} .kube/config"