---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: '{{ .Release.Name }}-web'
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: '{{ .Release.Name }}-web'
  template:
    metadata:
      labels:
        app: '{{ .Release.Name }}-web'
    spec:
      containers:
        - name: '{{ .Release.Name }}-web'
          image: spoonest/clickhouse-tabix-web-client:stable
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: CH_NAME
              value: "ck-cluster"
            - name: CH_HOST
              value: "192.168.2.25:8123"
            - name: CH_LOGIN
              value: "default"
            - name: CH_PASSWORD
              value: "{{ .Values.param_db_password }}"