[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
default-time-zone = '+8:00'
secure-file-priv= NULL
symbolic-links=0
max_allowed_packet=1024M
# Custom config should go here
!includedir /etc/mysql/conf.d/