version: "3.9"

{%- set gitea_host = "gitea.cluster.com" %}

x-traefik-label: &traefik-label
  traefik.enable: true
  traefik.http.routers.{{ param_role_name }}.rule: Host(`{{ gitea_host }}`)
  traefik.http.routers.{{ param_role_name }}.service: {{ param_role_name }}
  traefik.http.services.{{ param_role_name }}.loadbalancer.server.port: 3000

services:

  gitea:
    image: gitea/gitea:1.17.4
    container_name: gitea
    labels:
      <<: *traefik-label
    privileged: true
    expose:
      - "3000"
      - "22"
    user: root
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/data/:/data/
    environment:
      TZ: Asia/Shanghai
      GITEA__server__DOMAIN: "{{ gitea_host }}"
      GITEA__server__ROOT_URL: "http://{{ gitea_host }}/"
      GITEA__server__HTTP_PORT: "3000"
      GITEA__server__LANDING_PAGE: explore
      GITEA__security__INSTALL_LOCK: true
      GITEA__database__DB_TYPE: sqlite3
      GITEA__service__DISABLE_REGISTRATION: true
      GITEA__repository__DEFAULT_REPO_UNITS: repo.code,repo.releases
      GITEA__repository__DISABLED_REPO_UNITS: repo.issues, repo.ext_issues, repo.pulls, repo.wiki, repo.ext_wiki
      GITEA__packages__ENABLED: "true"
    restart: always