param_role_project_name: &param_role_project_name "{{ [param_role_name,param_db_ch_cluster_name] | join('-') }}"
param_role_target_path: !join_path ["{{ param_docker_data }}",*param_role_project_name]
param_db_ch_version: 22.8
param_db_ch_first_node_name: !join ["-",*param_role_project_name,'1']