version: "3.9"

x-minio-common: &minio-common
  image: minio/minio:RELEASE.2023-03-09T23-16-13Z
  privileged: true
  user: root
  expose:
    - "9000"
    - "9001"
  environment:
    MINIO_ROOT_USER: {{ param_db_minio_username }}
    MINIO_ROOT_PASSWORD: {{ param_db_minio_password }}
    MINIO_PROMETHEUS_AUTH_TYPE: public
  restart: always

x-traefik-label: &traefik-label
  traefik.enable: true
  traefik.http.routers.{{ param_role_name }}-api.rule: Host(`minio.czy21.com`)
  traefik.http.routers.{{ param_role_name }}-api.service: {{ param_role_name }}-api
  traefik.http.services.{{ param_role_name }}-api.loadbalancer.server.port: 9000
  traefik.http.routers.{{ param_role_name }}-web.rule: Host(`minio-web.czy21.com`)
  traefik.http.routers.{{ param_role_name }}-web.service: {{ param_role_name }}-web
  traefik.http.services.{{ param_role_name }}-web.loadbalancer.server.port: 9001

services:
  {%- if 'single' == param_db_minio_deploy_role %}
  minio:
    <<: *minio-common
    container_name: minio
    labels:
      <<: *traefik-label
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/data/single:/data/
    command: server /data --console-address ":9001"
  {%- endif %}
  {%- if 'cluster' == param_db_minio_deploy_role %}
  {% for i in range(1,param_db_minio_cluster_replicas | int+1) %}
  minio{{ i }}:
    <<: *minio-common
    container_name: minio{{ i }}
    labels:
      <<: *traefik-label
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/data/default:/data/
      {% for j in range(1,param_db_minio_cluster_drives | int+1) %}
      - {{ param_docker_data }}/{{ param_role_name }}/data/{{ i }}-{{ j }}:/data{{ j }}
      {% endfor %}
    command: server --console-address ":9001" http://minio{1...{{ param_db_minio_cluster_replicas }}}/data{1...{{ param_db_minio_cluster_drives }}}
  {% endfor %}
  {%- endif %}

