version: "3.9"

x-traefik-label: &traefik-label
  traefik.enable: true
  traefik.http.routers.{{ param_role_name }}.service: {{ param_role_name }}
  traefik.http.services.{{ param_role_name }}.loadbalancer.server.port: 8081

services:
  nexus:
    image: sonatype/nexus3:3.89.0-alpine
    container_name: nexus
    labels:
      <<: *traefik-label
    privileged: true
    user: root
    expose:
      - "8081"
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/data/:/nexus-data/
    environment:
      INSTALL4J_ADD_VM_PARAMS: -Xms4G -Xmx4G -XX:MaxDirectMemorySize=6717M
      NEXUS_SECURITY_INITIAL_PASSWORD: "{{ param_manage_password }}"
      NEXUS_DATASTORE_NEXUS_JDBCURL: jdbc:postgresql://{{ param_db_pgsql_host }}:{{ param_db_pgsql_port }}/nexus?user={{ param_db_pgsql_username }}&password={{ param_db_pgsql_password }}
    restart: always