---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
data:
  grafana.ini: ''
  datasource.yaml: |
    apiVersion: 1
    datasources:
    - name: ops
      type: prometheus
      access: proxy
      url: http://prometheus-ops.czy21.com
  dashboard.yaml: |
    apiVersion: 1
    providers:
    - name: '0'
      orgId: 1
      folder: ''
      type: file
      editable: true
      updateIntervalSeconds: 10
      allowUiUpdates: false
      options:
        path: /etc/grafana/provisioning/dashboards/definition/
