version: "3.9"

x-traefik-label: &traefik-label
  traefik.enable: true
  traefik.http.routers.{{ param_role_name }}.rule: Host(`portainer.cluster.com`)
  traefik.http.routers.{{ param_role_name }}.service: {{ param_role_name }}
  traefik.http.services.{{ param_role_name }}.loadbalancer.server.port: 9000

services:
  portainer:
    image: portainer/portainer-ce:2.15.1-alpine
    container_name: portainer
    labels:
      <<: *traefik-label
    privileged: true
    expose:
      - "9000"
      - "8000"
      - "9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ param_docker_data }}/{{ param_role_name }}/data:/data/
      - {{ param_docker_data }}/{{ param_role_name }}/conf/portainer_password:/tmp/portainer_password
    command: --admin-password $$2y$$05$$hhw173QNdsali/hv8m4IA.X8U6taiu.VTbNOzztt3MTKFDKcko1TC
#    networks:
#      macvlan100:
#        ipv4_address: 192.168.2.147
    restart: always


