---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress
  namespace: ops
spec:
  rules:
    - host: prom-{{ .Values.param_cluster_name }}.czy21.com
      http:
        paths:
        - pathType: Prefix
          path: /
          backend:
            service:
              name: prometheus
              port:
                number: 9090