server {
    listen       80;
    server_name  localhost;

    location / {
        default_type    application/json;
        return 200 '{"node":"${WEB_NODE_NAME}"}';
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}

