version: "3.9"

x-traefik-label: &traefik-label
  traefik.enable: true
  traefik.http.routers.{{ param_role_name }}.rule: Host(`jenkins.cluster.com`)
  traefik.http.routers.{{ param_role_name }}.service: {{ param_role_name }}
  traefik.http.services.{{ param_role_name }}.loadbalancer.server.port: 8080

services:

  jenkins:
    image: jenkins/jenkins:2.388-jdk11
    pull_policy: always
    container_name: jenkins
    labels:
      <<: *traefik-label
    privileged: true
    user: root
    ports:
      - "50000:50000"
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/data/:/var/jenkins_home/
      - {{ param_docker_data }}/{{ param_role_name }}/backup/:/backup/
      - {{ param_docker_data }}/{{ param_role_name }}/conf/:/conf/
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
    environment:
      JENKINS_UC: https://mirrors.aliyun.com/jenkins/updates/update-center.json
      JENKINS_UC_EXPERIMENTAL: https://mirrors.aliyun.com/jenkins/updates/experimental/update-center.json
      # JAVA_OPS: "-Xms1024m -Xmx2048m -XX:PermSize=256m -XX:MaxPermSize=512m"
    deploy:
      resources:
        limits:
          memory: 8g
    restart: always