version: "3.9"

x-flink-common: &flink-common
  image: {{ param_registry_url }}/{{ param_registry_dir }}/flink
  privileged: true
  user: root
  pull_policy: always

x-traefik-jmr-label: &traefik-jmr-label
  traefik.enable: true
  traefik.http.routers.{{ param_role_name }}-jmr.rule: Host(`flink-jmr.czy21.com`)
  traefik.http.routers.{{ param_role_name }}-jmr.service: {{ param_role_name }}-jmr
  traefik.http.services.{{ param_role_name }}-jmr.loadbalancer.server.port: 8081

x-traefik-his-label: &traefik-his-label
  traefik.enable: true
  traefik.http.routers.{{ param_role_name }}-his.rule: Host(`flink-his.czy21.com`)
  traefik.http.routers.{{ param_role_name }}-his.service: {{ param_role_name }}-his
  traefik.http.services.{{ param_role_name }}-his.loadbalancer.server.port: 8081

services:
  flink-jmr:
    <<: *flink-common
    container_name: flink-jmr
    hostname: flink-jmr
    labels:
      <<: *traefik-jmr-label
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/data/:/data/
      - {{ param_docker_data }}/{{ param_role_name }}/log/:/opt/flink/log/
    environment:
      FLINK_PROPERTIES: |
        jobmanager.rpc.address: flink-jmr
        parallelism.default: 2
        jobmanager.archive.fs.dir: file:///data/completed-jobs
        web.upload.dir: /data/jar
    command: jobmanager
    restart: always

  {% for i in range(1,param_bd_flink_cluster_tmr_replicas | int+1) %}
  flink-tmr-{{i}}:
    <<: *flink-common
    container_name: flink-tmr-{{i}}
    hostname: flink-tmr{{i}}
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/log/:/opt/flink/log/
    environment:
      FLINK_PROPERTIES: |
        jobmanager.rpc.address: flink-jmr
        parallelism.default: 2
    command: taskmanager
    restart: always
  {% endfor %}

  flink-his:
    <<: *flink-common
    container_name: flink-his
    hostname: flink-his
    labels:
      <<: *traefik-his-label
    volumes:
      - {{ param_docker_data }}/{{ param_role_name }}/data/:/data/
      - {{ param_docker_data }}/{{ param_role_name }}/log/:/opt/flink/log/
    environment:
      FLINK_PROPERTIES: |
        historyserver.web.address: flink-his
        historyserver.web.port: 8081
        historyserver.archive.fs.dir: file:///data/completed-jobs
        historyserver.archive.fs.refresh-interval: 10000
    command: history-server
    restart: always



